
<h1>Exchanges</h1>

<% if user_signed_in? %>
  <table>
    <thead>
      <tr>
        <th>User 1</th>
        <th>User 2</th>
        <th>Book 1</th>
        <th>Book 2</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @exchanges.each do |exchange| %>
        <tr>
          <td><%= exchange.current_user %></td>
          <td><%= exchange.user2 %></td>
          <td><%= exchange.book1 %></td>
          <td><%= exchange.book2 %></td>
          <td><%= link_to 'Show', exchange %></td>
          <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
          <td><%= link_to 'Delete', exchange, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Exchange', new_exchange_path, :class => 'btn btn-primary btn-sm' %>  
<%= link_to 'Back to Home', root_path, :class => 'btn btn-danger btn-sm' %>
