
<h1>Exchanges</h1>

<% if user_signed_in? %>
  <% if @exchanges.empty? %>
    <p><small>No exchanges found yet</small></p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>User a</th>
        <th>User b</th>
        <th>Book a</th>
        <th>Book b</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @current_user.exchanges.each do |exchange| %>
        <tr>
          <td><%= exchange.user1 %></td>
          <td><%= exchange.user2 %></td>
          <td><%= exchange.book1 %></td>
          <td><%= exchange.book2 %></td>
          <td><%= link_to 'Show', exchange %></td>
          <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
          <% if current_user.id == exchange.user_A_id %>
            <td><%= link_to 'Delete', exchange, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>

<br>

<%= link_to 'New Exchange', new_exchange_path, :class => 'btn btn-primary btn-sm' %>  
<%= link_to 'Back to Home', root_path, :class => 'btn btn-danger btn-sm' %>
