

<p>
  <strong>User a:</strong>
  <%= @exchange.user1_id %>
</p>

<p>
  <strong>User b:</strong>
  <%= @exchange.user2_id %>
</p>

<p>
  <strong>Book a:</strong>
  <%= @exchange.book1_id %>
</p>

<p>
  <strong>Book b:</strong>
  <%= @exchange.book2_id %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
