<p id="notice"><%= notice %></p>

<p>
  <strong>User a:</strong>
  <%= @exchange.user_A_id %>
</p>

<p>
  <strong>User b:</strong>
  <%= @exchange.user_b_id %>
</p>

<p>
  <strong>Book a:</strong>
  <%= @exchange.book_A_id %>
</p>

<p>
  <strong>Book b:</strong>
  <%= @exchange.book_B_id %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
