<div class="container mt-5">
  <h2 class="session-title">Sign up</h2>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :name, class: 'session-label' %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>

            <div class="field">
              <%= f.label :last_name, class: 'session-label' %><br />
              <%= f.text_field :last_name, autocomplete: "last_name" %>
            </div>

            <div class="field">
              <%= f.label :phone_number, class: 'session-label' %><br />
              <%= f.number_field :phone_number, autocomplete: "phone_number" %>
            </div>

            <div class="field">
              <%= f.label :email, class: 'session-label' %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password, class: 'session-label' %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'session-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <hr />

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-danger btn-sm my-2" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <%= image_tag '3.png', class: 'img-fluid mt-0 ml-0', style: 'float: right;' %>
  </div>

  
</div>