<div class="container mt-5">
  <h2 class="session-title">Sign up</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :name, class: 'session-label' %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>

            <div class="field">
              <%= f.label :last_name, class: 'session-label' %><br />
              <%= f.text_field :last_name, autocomplete: "last_name" %>
            </div>

            <div class="field">
              <%= f.label :phone_number, class: 'session-label' %><br />
              <%= f.number_field :phone_number, autocomplete: "phone_number" %>
            </div>

            <div class="field">
              <%= f.label :email, class: 'session-label' %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password, class: 'session-label' %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'session-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <hr />

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-danger btn-sm my-2" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 books-sign">
      <div class="card mb-5">
        <%= image_tag '3.png', class: 'img-fluid mt-4 book-pile', width: '80%' %>
        <div class="card-body mt-4">
          <h5 class="card-title text-weight-bold">Why join us?</h5>
          <p class="card-text pr-5 pl-5">
            As a member of our community, you will be able to:
            <ul>
              <li> Keep track of all books you have, and make a list of the ones you want to read.</li>
              <li> Exchange books you have already read with other members of the community.</li>
              <li> Add users to your friends list, and share your books with them.</li>
              <li> Get books you're interested in from other users.</li>
              
              <em> and much more!</em>
            </ul>
          </p>
        </div>
      </div>


      
  </div>

  
</div>