<div class="container mt-4">
    <h2 class="text-center mb-5"><strong>Perfil de </strong><%= @user.name %> <%= @user.last_name %></h2>

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card">
            <% if user_signed_in? && current_user != @user %>
                <% if current_user.is_following?(@user.id) %>
                    <%= link_to 'Unfollow', users_follow_path(@user.id), method: :post, class: 'btn btn-danger btn-sm my-1 mx-1' %>
                <% else %>
                    <%= link_to 'Follow', users_follow_path(@user.id), method: :post, class: 'btn btn-primary btn-sm my-1 mx-1' %>
                <% end %>
            <% end %>

                <div class="card-body">
                    <p class="card-text">
                        <strong>Email:</strong>
                        <%= @user.email %>
                    </p>
                    <p class="card-text">
                        <strong>Teléfono:</strong>
                        <%= @user.phone_number %>
                    </p>
                    <p class="card-text">
                        <strong>Amigos:</strong>
                        <%= @user.friends.count%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>Libros de </strong>
                        <%= @user.name %> <%= @user.last_name %>
                    </h5>
                    <p class="card-text">
                    <p> Ingresados: 
                        <% if @user.books.count == 0 %>
                            <%= @user.books.count %> libros
                            <% elsif @user.books.count == 1 %>
                                <%= @user.books.count %> libro
                            <% else %>
                                <%= @user.books.count %> libros
                            <% end %>
                                <%= link_to 'Ver todos', my_books_path(@user.id), class: 'btn btn-primary btn-sm', style: 'float: right;' %>
                        </p>
                    <p> Quiere leer: 
                            <% if @user.listed_books.count == 0 %>
                                <%= @user.listed_books.count %> libros
                            <% elsif @user.listed_books.count > 1 %>
                            <%= @user.listed_books.count %> libros
                            <% else %>
                                <%= @user.listed_books.count %> libro
                            <% end %>
                        </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row my-5">
        <h5 class="my-3">Libros que <strong><%= @user.name %> <%= @user.last_name %> </strong> quiere leer</h5>
        <% @user.listed_books.each do |book| %>
            <div class="col-md-2"> 
                <div class="card text-white bg-warning mb-3" style="max-width: 10rem; height: 10rem;">
                    <div class="card-header"><strong><small>I want to read</small></strong></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= book.title %></h5>
                        <p class="card-text"><%= book.author %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <%= link_to 'Volver', books_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

