<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1 class="mb-3">Hola <%= @user.name %>!</h1>
      <h3 class="mb-4">Tu dashboard</h3>
    </div>
    <div class="col-sm-3 mt-3">
      <%= link_to 'Nuevo libro', new_book_path, class: 'btn btn-sm btn-danger' %>
      <%=link_to 'Todos los libros', books_path, class: 'btn btn-sm btn-secondary ml-2' %>
      <%= link_to 'Mis libros', my_books_path(@user), class: 'btn btn-sm btn-secondary ml-2' %>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Stats</h5>
          <p class="card-text">
            <strong>Intercambios entre usuarios:</strong>
            <%= pie_chart @exchanges.group_by(&:status).map { |k, v| [k, v.count] }, height: '200px' %>
          <p class="card-text"><strong>Estado de tus libros: </strong><%= pie_chart @user.books.group(:state).count, { height: '200px', width: '100%' } %>

        </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="card w-50 border-dark">
          <div class="card-body">
            <h5 class="card-title">Mi información</h5>
            <p class="card-text"><strong>Nombre:</strong> <%= @user.name %> <%= @user.last_name %></p>
            <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
            <p class="card-text"><strong>Teléfono:</strong> <%= @user.phone_number %></p>
            <%= link_to 'Editar', edit_user_registration_path(@user), class: 'btn btn-danger btn-sm' %>
            <%= link_to 'Ver perfil', user_path(@user), class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
  </div>
    <div class="row mt-5 ml-5 pl-5">
      <div class="col-md-6">
        <div class="card w-50 border-dark">
          <div class="card-body">
            <h5 class="card-title">Libros intercambiados</h5>
            <p class="card-text"> <% @exchanges.each do |exchange| %>
              <% if exchange.user1_id == current_user.id && exchange.status == 'accepted' %>
                <%= link_to exchange.book1.title, book_path(exchange.book1), class: 'exchange-book' %>,  intercambiado por
              <strong><%= link_to exchange.book2.title, book_path(exchange.book2), class: 'exchange-book' %></strong> 
              con el usuario <strong><%= exchange.user2.name %></strong> <small class="text-muted"><%= exchange.created_at.strftime("%d/%m/%Y") %></small>
            </p>
              <% end %>
              <p> <% if exchange.user2_id == current_user.id && exchange.status == 'accepted' %>
                <%= link_to exchange.book2.title, book_path(exchange.book2), class: 'exchange-book' %>,  intercambiado por
              <strong><%= link_to exchange.book1.title, book_path(exchange.book1), class: 'exchange-book' %></strong> 
              con el usuario <strong><%= exchange.user1.name %></strong> <small class="text-muted"><%= exchange.created_at.strftime("%d/%m/%Y") %></small>
              </p>
              <% end %>
            <% end %>
              <hr>
            <p> <%= link_to 'Ver todos los intercambios', exchanges_path, class: 'btn btn-danger btn-sm' %> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-75 border-dark">
          <div class="card-body">
            <h5 class="card-title">Libros que quiero leer</h5>
            <p class="card-text"> <% @user.listed_books.each do |book| %>
              <ul><%= link_to book.title, book_path(book) %></ul>
            <% end %>
            <% if @user.listed_books.count == 0 %>
              <p>No tienes libros en tu lista</p>
            <% end %>
            <hr>
            <p> <%= link_to 'Ver mi lista', user_path(@user), class: 'btn btn-danger btn-sm' %> </p>
          </div>
        </div>
      </div>
    </div>
</div>