
<% if book.state == 'Available' %> 
    <div class="card text-white bg-custom-1 mb-2 mt-4" style="max-width: 18rem;">
        <% if book.is_listed?(current_user) %>
            <span class="badge badge-secondary">En lista</span>
        <% end %>
        <div class="card-header"><strong><small><%= book.state %></small></strong></div>
        <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><%= book.author %></p>
        </div>
        <%= link_to 'Ver más', book_path(book.id), class: 'btn btn-sm btn-secondary' %>
    </div>
        <% if book.state == 'Available' && user_signed_in? && current_user == book.user %> 
                <%= link_to 'Quiero intercambiarlo!', new_exchange_path, class: 'btn btn-sm btn-secondary' %>
                <%= link_to 'Calificar', new_book_review_path(book), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Eliminar', destroy_book_path(book), method: :delete, data: { confirm: "Seguro que desea eliminar? (Esta acción no se puede deshacer)", disable_with: "Eliminando..." }, class: 'btn btn-sm btn-dark' %>
        <% end %>
        <% if book.state == 'Available' &&  user_signed_in? && current_user != book.user %>
                <%= link_to 'Quiero leerlo!', new_exchange_path, class: 'btn btn-sm btn-secondary' %> 
                <%= link_to 'Calificar', new_book_review_path(book), class: 'btn btn-sm btn-warning' %>
                <% if book.is_listed?(current_user) %>
                    <%= link_to "Remove from booklist", book_list_path(book), method: :post, class: 'btn btn-sm btn-danger' %>
                <% else %> 
                    <%= link_to "Add to booklist", book_list_path(book), method: :post, class: 'btn btn-sm btn-primary' %>
                <% end %>
        <% end %>
<% else %>
    <div class="card text-white bg-custom-2 mt-4 mb-2" style="max-width: 18rem;">
        <% if book.is_listed?(current_user) %>
            <span class="badge badge-secondary">En lista</span>
        <% end %>
        <div class="card-header"><strong><small><%= book.state %></small></strong></div>
        <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><%= book.author %></p>
        </div>
        <%= link_to 'Ver más', book_path(book.id), class: 'btn btn-sm btn-secondary' %>
    </div>
        <% if book.state == 'Traded' &&  user_signed_in? && current_user == book.user %> 
            <%= link_to 'Calificar', new_book_review_path(book), class: 'btn btn-sm btn-warning' %>
        <% end %>
        <% if book.state == 'Traded' &&  user_signed_in? && current_user != book.user %>
            <%= link_to 'Calificar', new_book_review_path(book), class: 'btn btn-sm btn-warning' %>
            <% if book.is_listed?(current_user) %>
                <%= link_to "Remove from booklist", book_list_path(book), method: :post, class: 'btn btn-sm btn-danger' %>
            <% else %> 
                <%= link_to "Add to booklist", book_list_path(book), method: :post, class: 'btn btn-sm btn-primary' %>
            <% end %>
        <% end %>
<% end %>



 