<div class="container mt-5">
  <h2 class="session-title">Log in</h2>
    <div class="row">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: 'session-label mb-1' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control-sm' %>
          </div>

          <div class="field">
            <%= f.label :password, class: 'session-label mb-1' %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control-sm' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mt-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: 'session-label' %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-danger btn-sm mt-3" %>
          </div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
      <div class="col-md-6 ml-0">
        <%= image_tag '9.png', class: "img-fluid mt-0" %>
    </div>
</div>

