<%= form_for([@book, @book.reviews.build]) do |f| %>
    <div class="form-group">
        <div class="field">
            <%= f.label :rating %><br />
            <%= f.select :rating, [1, 2, 3, 4, 5], class: 'form-control form-control-sm' %> 
        </div>
        <br />
        <div class="field">
            <%= f.label :comment %><br />
            <%= f.text_area :comment, class: 'form-control form-control-sm' %>
        </div>

        <div class="actions mt-2">
            <%= f.submit 'Add Review', class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Back', book_path(@book), class: 'btn btn-sm btn-secondary' %>
        </div>
    </div>
<% end %>
